.promo {
  margin-bottom: 63px;
}

.container {}

.promo__content {
  border-radius: 59px;
  background: rgb(244, 246, 245);
  display: flex;
  column-gap: 24px;
  padding-top: 68px;
  padding-left: 120px;
}

.promo__text {}

.promo__title {
  margin-bottom: 40px;
  font-size: 96px;
  font-weight: 900;
  line-height: 120px;
}

.promo__desc {
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: -5%;
  margin-bottom: 32px;
}

.promo__btn-wrapper {}

.promo__btn {
  border-radius: 10px;
  background: rgb(0, 0, 0);
  padding: 19px 40px;
  color: #fff;
}